@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --primary-color: #6EA4BF;
    --secondary-color: #41337A;
    --accent1-color: #C2EFEB;
    --accent2-color: #ECFEE8;

    --heading-font: 'Bebas Neue', sans-serif;
    --paragraph-font: 'Red Hat Text', sans-serif;

    --nav-background-color: #FFF;
    --nav-link-color: #000;
    --nav-hover-link-color: #FFF;
    --nav-hover-background-color: #000;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}